{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./src/client/components",
          "containers": "./src/client/containers",
          "hooks": "./src/client/hooks",
          "pages": "./src/client/pages",
          "store": "./src/client/store"
        }
      }
    ],
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }, "antd"],
    ["import", { "libraryName": "antd-mobile", "libraryDirectory": "es", "style": "css" }, "antd-mobile"]
  ]
}
