.MainCalendar {
  &__header {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: -8px;
    margin-bottom: 16px;
    & &__filterCol {
      margin-top: 8px;
    }
    & &__navigationCol {
      display: flex;
      margin-top: 8px;
      &__date {
        margin-left: auto;
        margin-bottom: 0;
      }
      &__navigation {
        margin-left: 16px;
      }
    }
  }
  &__calendar {
    height: 750px;
  }
}

.More {
  position: absolute;
  top: 6px;
  right: 4px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;
  line-height: 2;
}
